.contrast-block {
  fill: _palette(font-black) !important;
  background-color: _palette(font-black);
}

.contrast-inline {
  color: _palette(bcg-white);
}

.contrast-menu {
  stroke: _palette(bcg-white) !important;
}
