//Déclaration
$padding: 20;

/*
CSS Portfolio Robinson Lacotte
v0.0.0.0.0.0.0.0.0.0.0.0.0.1 | en dev
Copyright © 2017 Robinson Lacotte - rafrob5@gmail.com
This work is free. You can redistribute it and/or modify it under the
terms of the Do What The Fuck You Want To Public License, Version 2,
as published by Sam Hocevar. See http://www.wtfpl.net/ for more details.
 */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html {
    min-height: 100%;
    position: relative;
}

body {
  background: linear-gradient(to bottom, #fee942 0%, #ff45d7 100%);
  height: 100%;
}

.wrapper {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column;

  margin: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
