$serif: 'Eczar', serif;
$sans-serif: 'Work Sans', sans-serif;

.menu__desktopTitle li {
  font-family: $serif;
  font-weight: 700;
}

.footer {
  font-family: $sans-serif;
  font-weight: 500;
}

.typo-serif-regular {
  font-family: $serif;
  font-weight: 400;
}

.typo-serif-bold {
  font-family: $serif;
  font-weight: 700;
}

.typo-sans-light {
  font-family: $sans-serif;
  font-weight: 300;
}

.typo-size {

}
