$serif: 'Eczar', serif;
$sans-serif: 'Work Sans', sans-serif;

h1,
h2,
h3,
a,
p {
  color: _palette(font-black);
}

.menu__desktopTitle li {
  font-family: $serif;
  font-weight: 700;
}

.footer {
  font-family: $sans-serif;
  font-weight: 500;
}

.typo-serif-regular {
  font-family: $serif;
  font-weight: 400;
}

.typo-serif-bold {
  font-family: $serif;
  font-weight: 700;
}

.typo-sans-light {
  font-family: $sans-serif;
  font-weight: 300;
}

.typo-title {
  font-size: 1.3vw;
  line-height: calc(2.5rem + 1vh);
}

.typo-main {
  line-height: calc(2.5rem + 1vh);
}

.typo-main-mobile {
  font-size: 2rem;
}

.typo-link {
  font-size: 1.6vw;
  line-height: calc(3rem + 1vh);
}

.typo-link::after {
  content:"";
  background-color: _palette(font-black);
  position: absolute;
  bottom: 0;
  left: 35%;
  height: 1px;
  width: 30%;
}

.typo-link.contrast-block::after {
  background-color: _palette(bcg-white);
}
