$serif: 'Eczar', serif;
$sans-serif: 'Work Sans', sans-serif;

h1,
h2,
h3,
a,
p {
  color: _palette(font-black);
}

.menu__desktopTitle li {
  font-family: $serif;
  font-weight: 700;
}

.footer {
  font-family: $sans-serif;
  font-weight: 500;
}

.typo-serif-regular {
  font-family: $serif;
  font-weight: 400;
}

.typo-serif-bold {
  font-family: $serif;
  font-weight: 700;
}

.typo-sans-light {
  font-family: $sans-serif;
  font-weight: 300;
}

.typo-sans-regular {
  font-family: $sans-serif;
  font-weight: 400;
}

.typo-title {
  font-size: calc(.7vw + 1rem);
  line-height: calc(5vh + .5rem);
}

.typo-main {
  line-height: calc(4vh + .5rem);
}

.typo-main-mobile {
  font-size: 2rem;
}

.typo-link {
  font-size: calc(.5vw + 1rem);
  line-height: calc(7vh + .5rem);
}

.typo-link::after {
  background-color: _palette(font-black);
  bottom: 0;
  content: '';
  height: 1px;
  left: 35%;
  position: absolute;
  width: 30%;
}

.typo-link.contrast-link::after {
  background-color: _palette(bcg-white);
}

h1.typo-main {
  font-size: 3rem;
}
