.header {
  flex: 1 1 auto;
  height: 0;
  margin-bottom: 20px;

  .menu__desktopTitle {
    display: none;

    li {
      font-size: 2.5vw;
    }

    li a {
      z-index: 50;
    }

    ul:first-child {
      li:nth-child(1) a {
        left: 8vw;
        position: absolute;
        text-align: center;
        top: 12vh;
      }

      li:nth-child(2) a {
        left: 58vw;
        position: absolute;
        top: 17vh;
      }

      li:nth-child(3) > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        height: 100px;
        left: 82vw;
        position: absolute;
        top: 5vh;
        width: 100px;

        > a {
          position: absolute;
        }

        > a:first-child {
          top: 0;
        }

        > a:nth-child(2) {
          right: 0;
        }

        > a:nth-child(3) {
          left: 0;
          font-size: 1rem;
        }

        > a:nth-child(4) {
          bottom: 0;
          font-size: 1rem;
        }
      }

      @media (min-width: 1000px) {
          li:nth-child(3) > div {
            left: 85vw;
          }
      }

      @media (min-width: 1600px) {
        li:nth-child(3) > div {
          left: 87vw;
          top: 8vh;
        }
      }
    }

    ul:nth-child(2) {
      li:nth-child(1) a {
        left: .5vw;
        position: absolute;
        top: 50vh;
      }

      li:nth-child(2) a {
        left: 15vw;
        position: absolute;
        top: 69vh;
      }

      li:nth-child(3) a {
        left: 45vw;
        position: absolute;
        top: 55vh;
      }

      li:nth-child(4) a {
        left: 74vw;
        position: absolute;
        top: 70vh;
      }
    }

    .divider {
      height: 100px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100px;
      z-index: 150;

      > path {
        stroke: black;
      }
    }

  }

  .menu__desktop {
    display: none;
    filter: url(#dropshadow);
    z-index: 40;

    polygon {
      fill: _palette(bcg-white);
    }
  }

  .menu__mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;

    li {
      background-color: _palette(bcg-white);
      height: 100%;
      margin: 10px 0;
    }
  }

  @media #{$bp-main} {
    display: flex;

    .menu__desktop {
      display: block;
      width: 100%;
      height: 100%;
    }

    .menu__desktopTitle {
      display: flex;
    }

    .menu__mobile {
      display: none;
    }

    .header__logo {
      height: 100%;
      width: 100%;
    }
  }

}
