.header {
  flex: 1 1 auto;
  height: 0;
  margin-bottom: 20px;

  .menu__desktopTitle {
    display: none;

    li {
      font-size: 2.5vw;
    }

    li a {
      z-index: 999;
    }

    ul:first-child {
      li:nth-child(1) a {
        left: 5vw;
        position: absolute;
        text-align: center;
        top: 10vh;
      }

      li:nth-child(2) a {
        left: 55vw;
        position: absolute;
        top: 17vh;
      }

      li:nth-child(3) > div {
        font-size: 1.2rem;
        height: 100px;
        left: 82vw;
        position: absolute;
        top: 5vh;
        width: 100px;

        > a {
          position: absolute;
        }

        > a:first-child {
          width: 100%;
          height: 25px;
          text-align: center;
          top: 0;
        }

        > a:nth-child(2) {
          height: 10px;
          top: 50%;
          right: 0;
          margin-top: -10px;
        }

        > a:nth-child(3) {
          height: 10px;
          margin-top: -10px;
          top: 50%;
          left: 0;
          font-size: 1rem;
        }

        > a:nth-child(4) {
          width: 100%;
          text-align: center;
          bottom: 0;
          font-size: 1rem;
        }
      }

      @media (min-width: 1000px) {
          li:nth-child(3) > div {
            left: 85vw;
          }
      }

      @media (min-width: 1600px) {
        li:nth-child(3) > div {
          left: 87vw;
          top: 8vh;
        }
      }
    }

    ul:nth-child(2) {
      li:nth-child(1) a {
        left: 3vw;
        position: absolute;
        top: 50vh;
        display: block;
        text-align: left;

        @media (max-height: 600px){
          top: 300px;
        }
      }

      li:nth-child(2) a {
        left: 15vw;
        position: absolute;
        top: 69vh;

        @media (max-height: 600px){
          top: 375px;
        }
      }

      li:nth-child(3) a {
        left: 45vw;
        position: absolute;
        top: 55vh;

        @media (max-height: 600px){
          top: 325px;
        }
      }

      li:nth-child(4) a {
        left: 74vw;
        position: absolute;
        top: 60vh;
        display: block;
        text-align: center;

        @media (max-height: 600px){
          top: 350px;
        }

        @media (min-height: 900px){
          top: 68vh;
        }
      }
    }

    .divider {
      height: 100px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100px;
      z-index: 150;

      > path {
        stroke: _palette(font-black);
      }
    }

  }

  .menu__desktop {
    display: none;
    //filter: url(#dropshadow);
    z-index: 40;

    polygon {
      fill: _palette(bcg-white);
    }
  }

  .menu__mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: _palette(bcg-white);
      height: 100%;
      margin: 10px 0;
    }
  }

  @media #{$bp-main} {
    display: flex;

    .menu__desktop {
      display: block;
      width: 100%;
      height: 100%;
    }

    .menu__desktopTitle {
      display: flex;
    }

    .menu__mobile {
      display: none;
    }

    .header__logo {
      height: 100%;
      width: 100%;
    }
  }

}
