.header {
  flex: 1 1 auto;
  height: 0;
  margin-bottom: 20px;

  .menu__desktop {
    display: none;
  }

  .menu__mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;

    li {
      background-color: _palette(bcg-white);
      height: 100%;
      margin: 10px 0;
    }
  }

  @media handheld and (orientation: landscape), (min-width: 700px) and (orientation: landscape), (min-width: 700px) and (orientation: portrait) {
    display: flex;

    .menu__desktop {
      display: flex;
    }

    .menu__mobile {
      display: none;
    }
  }

  svg polygon {
    fill: _palette(bcg-white);
  }
}
