.main {

  &.is-active {
    flex: 1 1 auto;
    margin-bottom: 20px;
  }
}

[class^="main__"] {
  background-color: _palette(bcg-white);
  display: none;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &.is-active {
    z-index: 1;

  }
}

.main__portfolioDesign {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.design__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  > article {
    width: auto;

    > img {
      position: absolute;
      width: 700px;

      &.clip-photo {
        top: 0;
        left: 0vw;
        clip-path: url(#photoPath);
      }

      &.clip-illu {
        bottom: 15vh;
        right: 7vh;
        clip-path: url(#illuPath);
      }

      &.clip-vrac {
        clip-path: url(#vracPath);
      }

    }
  }
}
