.main {

  &.is-active {
    flex: 1 1 auto;
    margin-bottom: 20px;
  }
}

[class^="main__"] {
  background-color: _palette(bcg-white);
  display: none;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &.is-active {
    z-index: 1;

  }
}

@import 'main/about';

@import 'main/design';
